#duvidas {
    background-color: #119fa8;
    padding: 15px 0;
    font-size: 24px;
    color: #fff;
}

#duvidas .duvida {
    font-weight: 500;
}

#duvidas img {
    margin: 0 25px 0 0;
}

#duvidas a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}