#home {
  background: url(../../img/2023/hero.png);
  position: relative;
  background-repeat: no-repeat;
  min-height: 793px;
  color: #fff;
}

#home video {
  max-width: 100%;
}

#home .row.hero-row {
  padding-top: 280px;
}

#home .row.hero-row h1 {
  font-weight: 600;
  font-size: 88px !important;
  margin: 0;
  padding: 0;
  line-height: 70px;
  max-width: 500px;
}
#home .row.hero-row h1 span {
  font-weight: 300;
  font-size: 60px;
  margin: 0;
  padding: 0;
}

#home .row.hero-row .event-info {
  font-weight: 600;
  color: #dbd259;
  font-size: 33px;
  margin: 55px 0 80px 0;
}
#home .row.hero-row .event-info .date {
  margin-right: 60px;
}

#home .row.hero-row .event-info .date p,
#home .row.hero-row .event-info .location p {
  margin: 0 0 0 15px;
  padding: 0;
}

#home .row.hero-row .sobre {
  /* box-shadow: 0 0 3px #868686; */
  background-color: #fff;
  color: #000;
  padding: 50px;
}

#home .row.hero-row .sobre h2 {
  font-weight: 700;
  font-size: 44px;
  margin: 0 0 50px 0;
}

#home .row.hero-row .sobre p {
  font-weight: 300;
  font-size: 30px;
  line-height: 34px;
}

#home .row.hero-row .sobre a {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #1e47b3;
  text-decoration: none;
}

#event-description .information {
  color: #fff;
  font-size: 28px;
  line-height: 32px;
  font-family: "TT Commons";
  font-weight: 400;
}

#event-description .azul {
  background-color: #119fa8;
}

#event-description .amerelo {
  background-color: #dbd259;
}

#event-description .information .desc {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #119fa8;
  padding-left: 16%;
  padding-right: 120px;
}

#event-description .information .desc span {
  font-weight: 600;
}

#event-description .information .dates {
  background-color: #dbd259;
  color: #000;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 12%;
}

#event-description .information .dates .date {
  font-size: 42px;
  line-height: 48px;
  background: url(../../img/2023/congresso03-calendario.png) no-repeat top left;
  padding: 0 0 0 70px;
  margin-bottom: 80px;
}

#event-description .information .dates .address {
  background: url(../../img/2023/congresso04-pin.png) no-repeat top left;
  padding: 0 0 0 70px;
}

#event-description .information .dates .address .location__line_1 {
  font-size: 32px;
}

#event-description .information .dates .address .location__line_2,
#event-description .information .dates .address .location__line_2 a {
  font-size: 28px;
  color: #000;
}
