#congressos {
    margin-top: 80px;
    background: url(../../img/2023/14-fundo-video.png) no-repeat top;
    background-size: contain;
    background-color: #262222;
    min-height: 860px;
    color: #fff;
}

#congressos h2 {
    font-size: 44px;
    font-weight: 700;
    margin-top: 100px;
}

#congressos p {
    font-size: 28px;
    font-weight: 400;
}
#congressos p.m {
    margin-top: 140px;
}
