#video {
    position: relative;
    background: url(../../img/background-congresso-video.png);
    background-repeat: no-repeat;
    padding: 80px 0;
}

#video iframe {
    width: 800px;
    height: 600px;
}