html {
  scroll-behavior: smooth;
}

*,
html,
body {
  font-family: "TT Commons", sans-serif;
}

section {
  scroll-margin-top: 123px;
}

#congressos .slick-prev:before,
#congressos .slick-next:before {
  color: #fff !important;
  font-size: 42px;
}

#palestrantes .slick-prev:before,
#palestrantes .slick-next:before {
  color: #000 !important;
  font-size: 42px;
}

.slick-prev {
  left: -55px;
}

.slick-next {
  right: -35px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
