html {
    scroll-behavior: smooth;
}

*,
html,
body {
    font-family: 'TT Commons', sans-serif;
}

section {
    scroll-margin-top: 120px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}