/* MOBILE */
@media all and (max-width: 767px) {
  section {
    scroll-margin-top: 115px !important;
  }

  .navbar {
    background-color: #000 !important;
  }

  .navbar-toggler {
    color: #fff;
  }

  #home {
    background-size: cover;
    background-position: -30px;
    min-height: initial;
    padding: 10px 10px 30px 10px;
  }

  #home .row.hero-row {
    padding-top: 130px;
  }

  #home .row.hero-row h1 span {
    font-size: 38px;
    line-height: 42px;
  }

  #home .row.hero-row h1 {
    font-size: 60px !important;
    line-height: 60px;
  }

  #event-description .desc,
  #event-description .dates {
    padding: 30px !important;
    font-size: 22px;
    line-height: 24px;
  }

  #event-description .dates .date {
    font-size: 28px !important;
    line-height: 28px !important;
    margin-bottom: 20px !important;
  }
  #event-description .information .dates .address .location__line_1 {
    font-size: 28px !important;
    line-height: 28px !important;
  }

  #event-description .information .dates .address .location__line_2 {
    line-height: 30px;
  }

  #palestrantes {
    padding: 20px 0 !important;
  }

  #palestrantes h2 {
    font-size: 38px;
    line-height: 38px;
    margin: 0 0 30px 0;
  }

  #palestrantes .palestrante {
    max-width: 250px;
    min-height: 300px;
    background-size: 100%;
  }

  #palestrantes .palestrante.slick-slide img {
    margin: 0 auto 30px auto;
    width: 50%;
    max-width: 100px;
  }

  #palestrantes .palestrante .info h3 {
    font-size: 24px;
    line-height: 24px;
  }

  #palestrantes .palestrante .info p {
    font-size: 18px;
    line-height: 18px;
  }

  #palestrantes .palestrante a.linkedin-button {
    margin-bottom: 20px;
    margin-top: -40px;
  }

  #palestrantes .palestrante a.linkedin-button p {
    background-size: 15%;
    font-size: 22px;
    padding: 2px 0 5px;
  }

  #programacao .cta-corporativa {
    font-size: 16px;
  }

  #tipo-ingressos img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  #ingressos h2,
  #tipo-ingressos h2 {
    font-size: 38px;
    line-height: 38px;
    text-align: center;
  }

  #ingressos table thead th:nth-child(1) {
    width: 33%;
  }
  #ingressos table thead th:nth-child(2),
  #ingressos table thead th:nth-child(3) {
    width: 33%;
  }

  #ingressos {
    padding: 0 0 30px;
  }

  #ingressos table thead th h3,
  #ingressos table tbody tr td h3 {
    font-size: 18px;
    margin-top: 40px;
  }

  #ingressos table thead th div {
    font-size: 18px;
    height: 80px;
  }
  #ingressos table tbody tr td p {
    font-size: 18px;
  }

  #ingressos table tbody tr:last-child td a {
    font-size: 18px;
  }

  #congressos {
    background-size: 180%;
    margin-top: 0;
  }

  #congressos h2 {
    font-size: 38px;
    margin-top: 140px;
  }

  #congressos p {
    font-size: 22px;
  }
  #congressos p.m {
    margin-top: 40px;
    font-size: 22px;
  }

  #duvidas {
    font-size: 18px;
    padding: 25px 0;
  }

  #duvidas .container .row div {
    justify-content: flex-start !important;
    margin: 0 0 15px 0;
    font-size: 24px;
  }

  #credits .support div {
    padding-bottom: 20px;
  }

  #patrocinadores .sponsor {
    text-align: center;
    display: block !important;
    padding-top: 90px;
    padding-bottom: 30px;
  }

  #patrocinadores .sponsor a {
    text-align: center;
    display: inline-block !important;
  }
  #patrocinadores .sponsor.master {
    background: url(../../img/2023/_master.png) no-repeat top center;
    background-color: #e5e5e5;
    background-size: 35%;
  }

  #patrocinadores .sponsor.prata {
    background: url(../../img/2023/_prata.png) no-repeat top center;
    background-color: #fff;
    background-size: 35%;
  }

  #patrocinadores .sponsor.bronze {
    background: url(../../img/2023/_bronze.png) no-repeat top center;
    background-color: #e5e5e5;
    background-size: 35%;
  }

  #patrocinadores .sponsor.plus {
    background: url(../../img/2023/_plus.png) no-repeat top center;
    background-color: #fff;
    background-size: 35%;
  }

  #patrocinadores .sponsor img {
    max-width: 120px;
  }

  #patrocinadores .quero-patrocinar {
    font-size: 24px;
  }

  .slick-prev,
  .slick-next {
    display: none !important;
  }

  #cta-bottom a {
    font-size: 24px;
  }

  #contador p {
    font-size: 24px;
  }

  #contador .share {
    margin-top: 20px;
  }

  footer {
    margin-bottom: 137px;
    text-align: center;
  }

  footer p,
  footer a {
    font-size: 16px;
  }

  #contador .share a.inscreva {
    font-size: 17px;
    line-height: 25px;
    padding: 9px 20px 7px;
  }
}

/* HD SCREENS */
@media screen and (min-width: 768px) and (max-width: 1366px) {
  #congressos h2 {
    margin-top: 30px;
  }
}

/* 768 SCREENS */
@media screen and (min-width: 993px) and (max-width: 1180px) {
}
